@import "~toastr";

body {
    width: 256px;
    margin: 12px 24px 16px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: white;
    -webkit-font-smoothing: anti-aliased;
}

.el-form-item__label {
    color: white !important;
}
